<%
  const currentYear = new Date().getFullYear();
%>

<footer id="footer-sec" class="footer-sec white-sec">

  <p class="dimmed-text">© Copyright Salim Rostami <%=currentYear%></p>

</footer>

</body>
</html>
