<%- include('partials/logHeader', {user: user}) %>

<section class="exe-sec color2-sec">
  <h2 class="sec-head sec-head-logbar-pt">We are working on it...!</h2>
</section>

<%- include('partials/footer') %>
